@import '/src/style/variables.scss';

.chat-preview {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  box-sizing: border-box;

  @include preview;
}
