@import '/src/style/variables.scss';

#chats {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  align-items: center;
  justify-content: center;

  main {
    display: flex;
    flex-direction: column;

    max-width: min(90%, 20rem);

    padding: 2rem 2rem;

    align-items: center;
    gap: 2rem;

    background-color: $background-trans;
    border-radius: $border-radius;

    box-shadow: 0 0 20px 1px $background-trans;

    .chats {
      max-width: 100%;
      width: min-content;
      
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .no-chats {
      max-width: 100%;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      svg {
        max-width: 50%;
        height: min-content;
      }
    }
  }
}
