@import '/src/style/variables.scss';

#chats {
  width: 100%;
  min-height: 100vh;

  align-items: center;
  justify-content: center;

  main {
    max-width: min(100%, 20rem);

    padding: 2rem 1rem;

    align-items: center;
    gap: 2rem;

    background-color: $main-trans;
    border-radius: $border-radius;

    box-shadow: 0 0 20px 1px $background-trans;

    .chats {
      align-items: center;
      gap: 2rem;

      svg {
        max-width: 50%;
        height: min-content;
      }
    }
  }
}
